<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>
    <h1>Welcome to my websites</h1>
    <p>Please stay and look around</p>
    <p>hello <%= locals.userName ?? 'New User!' %></p>
    
    if(locals.UserName==="Praj"){
        console.log("hi George!");
    }
     <p><img src="book.png" alt="stack of magic book"></p>

   <% for(let i=0; i<B; i++ %>

   
</body>
</html>